html
	head
		link(rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" type="text/css")
		link(rel="stylesheet" href="sticky-footer-navbar.css" type="text/css")
		link(rel="stylesheet" href="css/style.css" type="text/css")
		script(src="./jquery/jquery.min.js")
		script(src="./bootstrap/js/bootstrap.min.js")
		script(src="custom.js")
			
	body.allposts
		nav.navbar.navbar-default.navbar-fixed-top
			div.container
				div.navbar-header
					button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/profile")= user.name
				div#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="/createpost") Post Message
						li
							a(href="/posts") Your Messages
						li
							a(href="/allposts") All Messages
						li
							a(href="/logout") Logout
					form.form-inline.float-xs-right(style="margin-top: 7px;")
						input.form-control(type="text" placeholder="Search")
						button.btn.btn-outline.success(type="submit") Search
		img.welcome(src="bottle1.jpg")
		br
		br
		div.box
			h1 Comment
			br
			div.box1
				each thing in comment
					h4.commentname #{thing.user.name}
					hr
					h2 #{thing.title}
					p #{thing.body}
					br
					p#newcomment
						- for(var i = 0; i < thing.comments.length; i++)
							p #{thing.comments[i].body} - #[strong #{thing.comments[i].user.name}]
					br
					form(action = "/specific" method = "post")
						div.form-group 
							label(for = "comment") Comment:
							textarea(class = "form-control" id = "comment1" name = "text")
							input(name = "postId" type = "hidden" id = "postId" value = thing.id)
							br
							input(type = "submit" value = "Post Comment" id = "commentbtn")
						br
		br
		br
		footer.footer
			div.container
				p.text-muted Copyright © Laura Kramer 2016
